@layer base {
  * {
    @apply border-border;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #root {
    @apply min-h-screen w-full overflow-x-hidden;
  }
  
  #root > div {
    @apply w-full overflow-visible;
  }
}